.homeSection {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.homeSectionContent {
  flex: 1;
}

.homeSectionContent > div {
  padding: 20px;
}

.homeContentHeader,
.records div {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.records p {
  color: red;
  font-weight: 600;
}
